.home{
    

    .under__header{
        background-color: #0063D1;
        height:30px;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            color:#fff;
            letter-spacing: 1px;
            font-size: 0.9em;
        }
    }
}